body {
	background-color: #ffffe6;
	text-align: center;	
}

.untappd {
	display: block;
	margin: auto;
    width: 70px;
    height: auto;
}

.linabild {
	border-radius: 50%;
	height:100px;
    border: solid 1px;
    border-color: #ffbb35;
}

.instagram {
	width: 35px;
	height: auto;
	position: relative;
    left: -40px;
    vertical-align: bottom;
    display: inline-block;
}

p {
	color: #339966;
	font-family: Consolas;
	font-size: 13px;
	margin-left: 10px;
}

.copyright {
    display: inline-block;
}

h1 { 
	color: #339966;
	font-family: Arial Bold;
	letter-spacing: 10px;
    animation: blink 10s linear infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

.info {
	background-color: #ffcf70;
    letter-spacing: 2px;
	background: linear-gradient(to right, cornsilk, orange);	
	padding: 30px 20px;
    font-size: 17px;    
}

.liten-rubrik {
	font-style: italic;
	margin-bottom: 1px;
	color: #2c8759
} 

.rad1 {
    width: 500px;
    margin: 0 auto;
}

.rad2 {
    width: 500px;
    margin: 0 auto;
}

.rad3 {
    width: 500px;
    margin: 0 auto;
    text-align: right;
    left: -150px;
}

.left-container {
	display: inline-block;
    width: 200px;
    height: 145px;
    margin: 5px;
    background-color: #ffcf70;
    border: solid 1px;
    border-color: #ffbb35;
    border-radius: 10px;
    vertical-align: top;
    margin-top: 20px;
    text-align: left;
 }

.right-container {
	display: inline-block;
    width: 200px;
    height: 145px;
    margin: 5px;
    background-color: #ffcf70;
    border: solid 1px;
    border-color: #ffbb35;
    border-radius: 10px;
    vertical-align: top;
    margin-top: 20px;
    padding-right: auto;
    padding-left: auto;
    text-align: left;
}

.left-bottom-container {
	display: inline-block;
    width: 200px;
    height: 145px;
    margin: 5px;
    background-color: #ffcf70;
    border: solid 1px;
    border-color: #ffbb35;
    border-radius: 10px;
    vertical-align: bottom;
    margin-top: 10px;
    text-align: left;
}
.right-bottom-container {
	display: inline-block;
	width: 200px;
	height: 145px;
    margin: 5px;
    background-color: #ffcf70;
    border: solid 1px;
    border-color: #ffbb35;
    border-radius: 10px;
    vertical-align: bottom;
    margin-top: 10px;
    text-align: left;
}

a {
	color: #2c8759;
	text-decoration: none;
}
.footer {
    border: 0 none;
    border-top: 1px solid #339966;
    background: none;
    height: 0;
    width: 100%;
    position: absolute
    bottom: 0px;
}

@media only screen and (min-widht: 645 px) {
	.
	}
 }